body {
    margin:0;
    background:#f7f7f7;
    font-family:"Tahoma",sans-serif;
    color:#000;
}

#wrapper {
    width: 50rem;
    margin: 1rem auto;
    background: white;
    border-radius: 5px 5px 0px 0px;
}

#sidebar.light, #body.light {
    border-bottom: 2px solid #ededed;
}

#header.light {
    background: linear-gradient(#efefef, #f7f7f7);
    color: black;
    border-bottom: .25rem solid #ededed; 
}

#header {
    position: relative;
    background: linear-gradient(#333, #111);
    color: white;
    padding: 1rem; 
    border-bottom: .25rem solid #444;
    user-select: none;
    border-radius: inherit; 
}

#content {
    padding: 1rem;
 }
      
#content:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
    /* #content li a:hover { text-decoration: none; } */


#content h2 {
    font-size:150%;
    font-family:"Tahoma",sans-serif;
    font-weight:normal;
    margin-bottom: 0.6rem;
    border-bottom: 1px solid #aaa;
}
#content h2.first {
    margin-top: 0;
    margin-bottom: 0.2rem;
}

#nav{
    background: #f7f7f7;
    border-bottom: 1px solid #999;
    padding: .5rem;
    font-size: .75rem;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}

#sidebar {
    margin: 0;
    float: left;
    width: fit-content; 
    background: #ffffff;
    font-size: .75rem;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    padding: .5rem;
    padding-right: 30.6px;
    padding-bottom: 54px;
    border-bottom: 2px solid #333;
}

.sidecontent {
    width: 120px;
    margin: 0px 0px 10px;
    padding: 0px;
}

#body {
    font-size: .75rem;
    float: right;
    text-align: left;
    width: 40rem; 
    background: inherit;
    border-left: 1px solid #999;
    border-bottom: 2px solid #333;
}

a {
    text-decoration: none;
}