 html, body {
    height: 100%;
    margin: 0; /* overrides default spacing i think */
    min-height: 100vh; /* fixes gradients and shit, stolen from my themes */
    font-family: sans-serif;
}

/* bgs */

body {
    background: linear-gradient(black, #0a0a0a);
}

body.light-bg {
  background: linear-gradient(white, #f5f5f5);
}

/* containers */

.center-container {
  display: flex;            /* container = flexbox */
  justify-content: center;  /* centers horizontally */
  align-items: center;      /* centers vertically */
}

/* mediawiki styling (because i like how it looks) */

.heading, h1, h2, h3, h4, h5, h6 {
    font-weight:bold;
    margin:0;
    padding-top:0.5em;
    padding-bottom:0.17em;
    display:flow-root;
    word-break:break-word
  }

.firstHeading {
    margin-top: 0.4em;
    margin-bottom: 0.1em;
    padding-top: 0;
    display: block;
}

 .heading1,
  h1 {
    font-size:188%;
    font-family:"Tahoma",sans-serif;
    font-weight:normal;
    margin-bottom: 0.6em;
    border-bottom: 1px solid #aaa;
  }
  .heading2,
  h2 {
    font-size:150%;
    font-family:"Tahoma",sans-serif;
    font-weight:normal;
    margin-bottom: 0.6em;
    border-bottom: 1px solid #aaa;
  }
  .heading3,
  h3 {
    font-size:128%
  }
  .heading4,
  h4 {
    font-size:116%
  }
  .heading5,
  h5 {
    font-size:108%
  }
  .heading6,
  h6 {
    font-size:100%
  }